.paginator {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.pageNumber {
    padding: 2px;
    border: 1px solid snow;
    cursor: pointer;
    border-radius: 2px;
    color: cornsilk;
}

.pageNumber.selectPage {
    font-weight: bold;
    border-color: lightslategray;
}