.nav {
    grid-area: n;
    background-color: #b8bfc2;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: #525c60;
    text-decoration: none;
}

.item a.activeLink {
    color: #282d2f;
}
